<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>URL Shortener</h1>
    <div>
      <% if (locals.url) { %>
      <h4>New Short URL -http://localhost:8001/url/<%= locals.url %></h4>

      <% } %>
      <form method="post" action="/url">
        <label>Enter your Original URL</label>
        <input type="text" name="url" placeholder="http://example.com" />
        <button type="submit">Generate</button>
      </form>
    </div>
    <div>
      <% if (locals.urls) { %>
      <table>
        <thead>
          <th>S. No</th>
          <th>ShortID</th>
          <th>Redirect</th>
          <th>Clicks</th>
        </thead>
        <tbody>
          <% urls.forEach((url,index) => { %>
          <tr>
            <td><%= index +1 %></td>
            <td><%= url.shortId %></td>
            <td><%= url.redirectURL %></td>
            <td><%= url.visitHistry.length %></td>
          </tr>
          <% }) %> <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
